<legend>Utilisateurs</legend>
<!-- <table class="table table-hover">
	<tr>
		<th>Identifiant</th>
		<th>Email</th>
		<th>Status</th>
		<th></th>
	</tr>
	<tr ng-repeat="user in users">
		<th><a ui-sref="account.detail({id:user.id})"><span>{{user.login}}</span></a></th>
		<td>{{user.mail}}</td>
		<td>{{user.flag}}</td>
		<td><button ng-click="deleteUser(user.id)" type="button" class="close">&times;</button></td>
	</tr>
</table> -->

<table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="user in $data">
	    <td data-title="'Identifiant'" filter="{ 'login': 'text' }">
	        <a ui-sref="account.detail({id:user.id})"><strong>{{user.login}}</strong></a>
	    </td>
	    <td data-title="'Email'" filter="{ 'mail': 'text' }">
	        {{user.mail}}
	    </td>
	    <td data-title="'Status'" filter="{ 'flag': 'select' }" filter-data="names($column)">
	        {{user.flag}}
	    </td>
  <td>
	      <button  class="close" type="button" data-placement="top" data-duration="3" data-animation="am-fadeAndSlideTop" data-container="body" data-type="success" data-keyboard="true" bs-alert="alert"
			data-template="account/confirmation.tpl.html" data-scope="user" bs-modal="">&times;</button>
		</td>
    </tr>
</table>
<button ui-sref="account.admin.add" class="btn btn-default center-block">Ajouter</button>