	<div class="modal  ng-scope center am-fadeAndSlideTop fade" style="opacity:1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Suppression {{user.login}}</h3>
				</div>
				<div class="modal-body">
				Si vous supprimez l'utilisateur {{user.login}}, les calendriers dont il est propriétaire seront également supprimer.</div>
				<div class="modal-footer">
					<button class="btn btn-success"
						ng-click="deleteUser(user.id)">Confirmer</button>
					<button class="btn btn-danger" ng-click="$hide()">Annuler</button>
				</div>
			</div>
		</div>
	</div>
