<form name="editAccountForm" ng-submit="accountUpdate()" class="form-horizontal" role="form">
	<legend>Mise à jour</legend>
	<div class="form-group">
		<label for="login" class="col-sm-3 control-label">Identifiant</label>
		<div class="col-sm-9">
			<input data-ng-model="user.login" type="text" class="form-control" id="login" placeholder="Identifiant" ng-disabled="true" required>
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-3 control-label">Email</label>
		<div class="col-sm-9">
			<input data-ng-model="user.mail" type="email" class="form-control" id="email" placeholder="Email">
		</div>
	</div>

	<div class="form-group">
		<label for="flag" class="col-sm-3 control-label">Statut</label>
		<div class="col-sm-9">
			<input ng-model="user.flag" ng-disabled="true" type="text" class="form-control" required></input>
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-3 control-label">Mot de passe</label>
		<div class="col-sm-9">
			<input data-ng-model="user.password" type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required>
		</div>
	</div>
	<div class="form-group">
		<label for="passwordConfirm" class="col-sm-3 control-label">Confirmation</label>
		<div class="col-sm-9" >
			<input ng-model="user.passwordConfirm" type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" data-match="user.password" placeholder="Mot de passe" required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button class="btn btn-default">Valider</button>
		</div>
	</div>
</form>

<!--
<div>
	<form name="editAccountForm" ng-submit="accountUpdate()">
		<fieldset>
			<legend>Mon compte</legend>
			<table>
				<tr>
					<th><label for="login">Identifiant :</label></th>
					<td><input data-ng-model="user.login" id="login" type="text" name="login" disabled="disabled" required /></td>
				</tr>
				<tr ng-show="editAccountForm.login.$error.required">
					<td>&nbsp;</td>
					<td class="error">Vous devez saisir un identifiant</td>
				</tr>
				<tr>
					<th><label for="email">Email :</label></th>
					<td><input data-ng-model="user.email" id="email" type="email" name="email" /></td>
				</tr>
				<tr>
					<th><label for="flag">Satut :</label></th>
					<td><select ng-model="user.flag" ng-options="flag.id as flag.name for flag in flags"></select></td>
				</tr>
				<tr>
					<th><label for="password">Mot de passe :</label></th>
					<td><input data-ng-model="user.password" id="password" type="password" name="password" required /></td>
				</tr>
				<tr ng-show="editAccountForm.password.$error.required">
					<td>&nbsp;</td>
					<td class="error">Vous devez saisir un mot de passe</td>
				</tr>
				<tr>
					<th><label for="passwordConfirm">Confirmation du mot de passe :</label></th>
					<td><input ng-model="user.passwordConfirm" type="password" data-match="user.password" name="passwordConfirm" required /></td>
				</tr>
				<tr ng-show="editAccountForm.passwordConfirm.$error.match">
					<td>&nbsp;</td>
					<td class="error">Les mots de passe ne sont pas identiques</td>
				</tr>
				<tr ng-show="editAccountForm.passwordConfirm.$error.required">
					<td>&nbsp;</td>
					<td class="error">Vous devez confirmer le mot de passe</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><button>Valider</button></td>
				</tr>
			</table>
		</fieldset>
	</form>
</div>
-->