<!doctype html>
<html xmlns:ng="http://angularjs.org" class="ng-scope" data-ng-app="soutenanceplanner" id="ng-app" lang="fr" data-ng-controller="MainCtrl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<title>Soutenanceplanner - <%= version %></title>

		<!-- compiled CSS -->
		<% styles.forEach( function ( file ) { %>
			<link rel="stylesheet" type="text/css" href="<%= file %>" />
		<% }); %>
		<link rel="stylesheet" type="text/css" href="assets/bootstrap-additions.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/css.css" />

		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body>
		<!-- Begin header -->
		<div ng-include="'header.tpl.html'"></div>
		<!-- End header -->

		<div class="container">
			<div class="row">
				<!-- Begin breadcrumb -->

				<!-- non loggé -->
				<div ng-if='userLogin == null' class="col-md-offset-1 col-md-10 col-md-offset-1" ncy-breadcrumb></div>

				<!-- loggé -->
				<div ng-if='userLogin != null' class="col-md-offset-3 col-md-9" ncy-breadcrumb></div>

				<!-- End breadcrumb -->
			</div>
		</div>

		<!-- Begin main -->
		<div class="container">

			<!-- loggé -->
			<div class="row" ng-if='userLogin != null'>
				<!-- Start left menu -->
				<div ng-include="'menu/menuLeft.tpl.html'"></div> 
				<!-- End left menu -->

				<!-- Start contents -->
				<div class="col-md-9 span-fixed-sidebar">
					<div class="panel panel-default">
						<div ui-view class="panel-body"></div>
					</div>
				</div>
				<!-- End contents -->
			</div>

			<!-- non loggé -->
			<div ng-if='userLogin == null'>
				<div class="col-md-offset-1 col-md-10 col-md-offset-1 span-fixed-sidebar">
					<div class="panel panel-default">
						<div ui-view class="panel-body"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End main -->

		<!-- Begin footer -->
		<div ng-include="'footer.tpl.html'"></div>
		<!-- End footer -->

		<!-- compiled JavaScript -->
		<% scripts.forEach( function ( file ) { %>
			<script type="text/javascript" src="<%= file %>"></script>
		<% }); %>
	</body>
</html>