<header class="navbar navbar-fixed-top" role="banner" ng-controller="MenuCtrl">
	<div class="container">
		<div class="row navbar-default">
			<div class="col-md-3 centering">
				<a ng-href="#/">
					<img src="assets/img/logo.png" alt="Logo Université Angers" class="img-responsive">
				</a>
			</div>
			<div class="col-md-9">
				<div class="row">
						<nav class="col-md-9 nav navbar-nav navbar-right" role="navigation">
							<div class="btn-group navbar-brand navbar-right">
								<div ng-if='isAdmin == true' class="dropdown btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										Administration <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a ui-sref='account.admin'>Utilisateurs</a></li>
										<li><a ui-sref='formation.admin'>Formations</a></li>
										<li><a ui-sref='calendar.admin'>Calendriers</a></li>
									</ul>
								</div>
								<button ng-if='userLogin != null' ui-sref='calendar.user' type="button" class="btn btn-default">Mes Calendriers</button>
								<button ng-if='userLogin' ui-sref='account.current' type="button" class="btn btn-default">Mon compte</button>
								<button ng-if='userLogin == null' ui-sref='login' type="button" class="btn btn-default">Connexion</button>
								<button ng-if='userLogin != null' ng-click="logout()" type="button" class="btn btn-default">Déconnexion</button>
							</div>
						</nav>
				</div>
				<div class="row text-center">
					<h1 class="col-md-8">Planificateur de soutenances</h1>
				</div>
				
			</div>
		</div>
		
		
	</div>
</header>