<h2>Ajouter un calendrier</h2>
<br/>

<tabset>
	<tab>
		<tab-heading>
			<i class="glyphicon glyphicon-bell">Création</i>
		</tab-heading>
		<div>
			<br/>
			<p class="input-group">
				<label class="obligatoire" for="new_calendar.title">Titre</label>
				<input type="text" name="new_calendar.title" class="form-control" id="new_calendar.title" ng-model="new_calendar.title" ng-change="refetchCalendar(myCalendar1)" required /> 
			</p>
			<p class="input-group">
				<label class="" for="new_calendar.formation">Formation</label>
				<select class="form-control" name="new_calendar.formation" id="new_calendar.formation" ng-model="new_calendar.formation" required ></select>
			</p>
			<p class="input-group">
				<label class="obligatoire" for="new_calendar.beginning_date">Date de début</label>
				<input type="text" class="form-control" name="new_calendar.beginning_date" id="new_calendar.beginning_date" ng-model="new_calendar.beginning_date" ng-change="refetchCalendar(myCalendar1)" required bs-datepicker />
			</p>
			<p class="input-group">
				<label class="obligatoire" for="new_calendar.ending_date">Date de fin</label>
				<input type="text" class="form-control" name="new_calendar.ending_date" id="new_calendar.ending_date" ng-model="new_calendar.ending_date" ng-change="refetchCalendar(myCalendar1)" required bs-datepicker/>
			</p>
			<p class="input-group">
				<label class="obligatoire" for="new_calendar.duration">Durée d'une soutenance</label>
				<select class="form-control" name="new_calendar.duration" id="new_calendar.duration" ng-model="new_calendar.duration" ng-change="refetchCalendar(myCalendar1)" required>
					<option ng-selected="{{d.value==duration}}" ng-repeat="d in durations" value="{{d.value}}">{{d.text}}</option>
				</select>
			</p>
			<p class="input-group">
				<label class="obligatoire">Plage(s) horaires</label>
				<ul class="time_slots" style="list-style: none;">
					<li ng-repeat="time_slot in new_calendar.time_slot_list">
						<select class="" ng-model="time_slot.beginning" ng-change="refetchCalendar(myCalendar1)">
							<option ng-selected="{{h1.value==time_slot.beginning}}" ng-repeat="h1 in hours" value="{{h1.value}}">{{h1.text}}</option>
						</select>
						<span> à </span>
						<select class="" ng-model="time_slot.ending" ng-change="refetchCalendar(myCalendar1)">
							<option ng-selected="{{h2.value==time_slot.ending}}" ng-repeat="h2 in hours" value="{{h2.value}}">{{h2.text}}</option>
						</select>
						<a class="btn btn-sm btn-default" ng-click="new_calendar.time_slot_list.splice($index, 1)">-</a>
					</li>
					<li><button class="add_time_slot btn btn-sm btn-default" ng-click="add_time_slot()">+</button></li>
				</ul>
			</p>
		</div>
	</tab>
	<tab select="renderCalendar(myCalendar1);">
		<tab-heading>
			<i class="glyphicon glyphicon-bell">Configuration</i>
		</tab-heading>
		<div>
			<br/>
			<div ui-calendar="uiConfig.calendar" calendar="myCalendar1"  class="span8 calendar" ng-model="eventSources"></div>
		</div>
</tabset>
	