	<div class="modal  ng-scope center am-fadeAndSlideTop fade" style="opacity:1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">Suppression {{calendar.title}}</h3>
				</div>
				<div class="modal-body">Merci de confirmer la suppression du
					calendrier "{{calendar.title}}" pour la formation
					{{calendar.formation.name}}</div>
				<div class="modal-footer">
					<button class="btn btn-success"
						ng-click="deleteCalendar(calendar.id)">Supprimer</button>
					<button class="btn btn-danger" ng-click="$hide()">Annuler</button>
				</div>
			</div>
		</div>
	</div>
