<legend>Calendriers</legend>
<table class="table table-hover">
	<tr>
		<th>Titre</th>
		<th>Début</th>
		<th>Fin</th>
		<th>Durée</th>
	</tr>
	<tr ng-repeat="calendar in calendars">
		<th><a ui-sref="calendar.detail({id:calendar.id, link:calendar.link})"><span>{{calendar.title}}</span></a></th>
		<td>{{calendar.beginningDate | date:'MM/dd/yyyy'}}</td>
		<td>{{calendar.endingDate | date:'MM/dd/yyyy'}}</td>
		<td>{{calendar.duration*60}}</td>
		<td><button ng-click="deleteCalendar(calendar.id)" type="button" class="close">&times;</button></td>
	</tr>
</table>
<button ui-sref="calendar.add" class="btn btn-default center-block">Ajouter</button>