<div class="jumbotron" ng-if='userLogin != null'>
	<h2>Tableau de bord</h2>
	<h3><small>Les Calendriers auxquels je suis inscris</small>
		<span class="badge" style="">{{inscriptionCalendars.length}}</span>
	</h3>
	<ul class="nav " ng-repeat="monCalendrier in inscriptionCalendars">
		<li>
			<p>
				<h4>{{monCalendrier.beginningDate | date:'dd/MM/yyyy'}} : {{monCalendrier.title}}</h4>
			</p>
			<p>
				<a class="btn btn-primary btn-lg" ui-sref='calendar.detail({id:monCalendrier.id, link:monCalendrier.link})'>Visualiser </a>
			</p>
		</li>
	</ul>
</div>
<div class="jumbotron" ng-if='userLogin == null'>
	<h1>Bienvenue</h1>
	<br />
	<p class="text-info">Vous pouvez visualiser ici vos dates de soutenance.</p>
	<p>
		<h2>
			<small>Un lien a normalement du vous être fourni à cet effet.<br/>
			</small>
		</h2>
	</p>
</div>

